body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: #f5f6f8;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-card {
    margin: 20px 0;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: none; /* Eliminar el borde de la tarjeta */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 0.5rem; /* Bordes redondeados */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
    margin-bottom: 40px; /* Espacio debajo del video */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem; /* Bordes redondeados para el video */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
    .header h1 {
        font-size: 1.8rem;
    }

    .header p {
        font-size: 1.1rem;
    }

    .card-title {
        font-size: 1.1rem;
    }
}